<div class="container mt-5">
  <div>
    <div class="row">
      <div *ngFor="let producto of listaDeProductos" class="col-md-4">
        <div class="card m-5" style="width: 18rem; height: 30rem">
          <div style="height: 30rem">
            <img
              src="{{ producto.imagen }}"
              class="card-img-top"
              alt="..."
              style="max-height: 20rem"
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <a href="#" class="btn btn-primary">Añadir al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
